{:name "lab"
 :type :application
 :components
 [{:id :http-client
   :interface {:id :olson.interfaces/http-client
               :version "1.0.0"}
   :implementation {:id :olson.implementations/http-client
                    :version "1.0.0"}
   :test :olson.tests/http-client
   :options {:defaults {:timeout "PT30S"}}}
  {:id :olson-client
   :interface {:id :olson.interfaces/olson-client
               :source :filesystem
               :path "src/olson_client"}
   :implementation {:id :olson.implementations/olson-cli-client
                    :source :filesystem
                    :path "src/olson_client/impl/cli"}
   :test {:id :olson.tests/olson-client
          :source :filesystem
          :path "src/olson_client/tests"}
   :expose :olson.expose/cli}]}
